  <section id="404" class="py-12 justify-center items-center flex h-screen bg-gradient-to-b to-red-800/40 from-red-600/10">
    <div>
      <div class="text-center my-auto">
        <h1 class="font-extrabold tracking-wide my-3 text-6xl">Page Not Found :(</h1>
        <p class="text-lg my-2 text-black/70 tracking-wide font-semibold">Please double check the url</p>
      </div>
      <div class="block text-center mx-auto my-7">
        <a href="/">
          <button class="font-bold text-1xl py-3 px-6 rounded-2xl border-2 border-black hover:bg-black hover:text-white text-black">Back To Home!</button>
        </a>
      </div>
    </div>
  </section>
