---
// Layout
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact Us">
  <section
    id="contact"
    class="py-16 bg-gradient-to-b from-rose-500/10 via-rose-600/10"
  >
    <div class="text-center py-5">
      <h2 class="text-4xl font-bold">Contact Us</h2>
      <p class="text-black/70">TODO: Contact the Team of Real Boss...</p>
    </div>
  </section>
</Layout>
