---
// Layout
import Layout from "@/layouts/Layout.astro";

// Faqs
const faqs: Array<{ q: string; ans: string }> = [
  {
    q: "What services does your agency offer to YouTubers?",
    ans: "We offer a range of services including channel management, Discord server management, GFX (Graphics) and VFX (Visual Effects), editing assistance, and sponsorship opportunities.",
  },
  {
    q: "How can your agency help with channel management?",
    ans: "Our agency can assist with optimizing video titles, descriptions, and tags, managing comments and engagements, analyzing analytics data, and implementing effective growth strategies for your YouTube channel.",
  },
  {
    q: "What is Discord server management, and why is it important for YouTubers?",
    ans: "Discord server management involves setting up and maintaining a Discord community for your YouTube channel. It helps foster engagement, build a loyal audience, and provide a platform for real-time interaction between YouTubers and their fans.",
  },
  {
    q: "Do you provide GFX (Graphics) and VFX (Visual Effects) services?",
    ans: "Yes, we offer GFX and VFX services to enhance the visual quality of your videos. This includes creating custom logos, thumbnails, lower-thirds, visual effects, and other graphical elements to make your content visually appealing and professional.",
  },
  {
    q: "Can you assist with video editing?",
    ans: "Absolutely! Our team of skilled editors can help with various aspects of video editing, including trimming, cutting, adding transitions, audio enhancements, color correction, and overall post-production to ensure your videos are polished and engaging.",
  },
  {
    q: "Do you offer sponsorship opportunities for YouTubers?",
    ans: "Yes, we have partnerships with brands and companies looking to collaborate with YouTubers. We can help connect you with potential sponsorship opportunities based on your channel's niche and target audience.",
  },
];
---

<Layout title="Frequently Asked Questions">
  <section
    id="faqs"
    class="py-12 bg-gradient-to-b from-transparent via-amber-200/40"
  >
    <div class="text-center py-5">
      <h2 class="text-4xl my-4 tracking-wider font-bold">FAQs...</h2>
      <p class="text-black/50">Frequently Asked Questions By Customers</p>
    </div>
    <ul class="m-8">
      {
        faqs.map((faq) => (
          <li
            class="relative my-6 rounded-md shadow-md py-3 px-1 bg-white"
            x-data="{selected:false}"
          >
            <button
              type="button"
              class="w-full px-5 py-3 font-extrabold"
              @click="selected = !selected"
            >
              <div class="flex items-center justify-between">
                <p class="text-left overflow-x-scroll">Q: {faq.q}</p>
                <span
                  class="text-right duration-200"
                  :class="selected ? 'rotate-180' : ''"
                >
                  ↓
                </span>
              </div>
            </button>
            <div
              class="relative overflow-hidden"
              x-show="selected"
              x-transition
            >
              <div class="px-5 py-2">
                <p class="text-black/90">
                  <br />
                  {faq.ans}
                </p>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
