<section
  id="cta"
  class="text-center bg-gradient-to-b from-violet-200 via-indigo-500/40 to-indigo-500/50 py-28"
>
  <div data-aos="fade-down">
    <h2 class="text-5xl font-extrabold">Our Server</h2>
    <p class="text-lg text-black/80 my-6">Chat Real-time with team...</p>
    <a href="/discord" target="_blank">
      <button
        class="bg-indigo-600 text-white rounded-2xl py-4 px-7 border-2 border-indigo-600 hover:text-indigo-600 font-extrabold tracking-widest block mx-auto text-center my-8 hover:bg-transparent"
      >
        Join Discord
      </button>
    </a>
  </div>
</section>
