<section
  id="hero"
  class="py-16 bg-gradient-to-b from-transparent via-cyan-200/20"
>
  <div>
    <div data-aos="fade-up" class="mt-7 text-center">
      <div>
        <h1 class="text-center mb-4 font-semibold text-6xl">
          <span class="bg-yellow-300/90 rounded-full pl-4">You</span>tuber's
          Helping Hand
        </h1>
      </div>
      <p class="text-md px-1 text-black/80 tracking-wider md:text-lg">
        Improve your Channel with us. LIXIT Organisation Provides Various
        Servics And Are 24/7 In The Desk. It is Also know as LO™. We Provide
        Service Before The Submission Time!
      </p>
      <a href="/contact">
        <button
          class="text-center text-lg border border-black hover:bg-transparent hover:text-black font-medium text-white bg-black rounded-lg py-3 px-8 mt-5"
        >
          Get Quote
        </button>
      </a>
    </div>
    <div class="grid hidden grid-cols-3 gap-4 m-4 md:mx-40">
      <img
        data-aos="zoom-in"
        src="https://selo.b-cdn.net/wp-content/uploads/2022/09/lrktnh.png"
        alt="Image 1"
        class="shadow-lg rounded-2xl"
      />
      <img
        data-aos="zoom-in"
        src="https://selo.b-cdn.net/wp-content/uploads/2022/09/lrktnh.png"
        alt="Image 2"
        class="shadow-lg rounded-2xl mt-4"
      />
      <img
        data-aos="zoom-in"
        src="https://selo.b-cdn.net/wp-content/uploads/2022/09/lrktnh.png"
        alt="Image 3"
        class="shadow-lg rounded-2xl"
      />
    </div>
  </div>
</section>
