<nav
  class="flex z-40 fixed top-0 bg-white/90 w-full shadow-sm align-middle overflow-hidden p-3 h-12 md:h-14 backdrop-blur-sm"
>
  <div class="text-left">
    <button aria-label="open_navigation" type="button" @click="open = ! open">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="black"
        class="h-7 w-7 md:h-8 md:w-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"></path>
      </svg></button
    >
  </div>
  <a href="/" class="text-center w-full flex items-center justify-center mx-auto">
    <img alt="Logo" src="/logo.svg" class="h-6 w-6 scale-150" />
    <span class="mx-2 text-lg" > | </span>
    <h1 class="text-lg font-bold tracking-wide">
      Team Lixit
    </h1>
  </a>
</nav>
